.App {
  text-align: center;
}

/*//////// Options Styling //////////*/

.options-div {
  display: flex;
  justify-content: center;
  margin-top: 5rem;
  flex-direction: column;
}

.answer-div {
  border-radius: 100px;
  border: 1px solid black;
  width: 500px;
  display: flex;
  justify-content: space-around;
}

.answer {
  padding: 5px;
  border-radius: 100px;
}

